
<footer class="page-footer font-small elegant-color" style="background-color: #f1f7e7;height:120px;">
   <div class="container">
 
     <div class="row d-flex justify-content-center ">
       <div class="col d-flex justify-content-center my-3 pt-1">
         <a class="fb-ic">
           <i class="fab fa-facebook-f fa-lg mx-3 mx-md-4 fa-2x" style="color:black;"> </i>
         </a>
         <a class="tw-ic">
           <i class="fab fa-twitter fa-lg mx-3 mx-md-4 fa-2x" style="color:black"> </i>
         </a>
         <a class="gplus-ic">
           <i class="fas fa-envelope fa-lg mx-3 mx-md-4 fa-2x" style="color:black"> </i>
         </a>
         <a class="li-ic">
           <i class="fab fa-whatsapp fa-lg mx-3 mx-md-4 fa-2x" style="color:black"> </i>
         </a>
         <a class="ins-ic">
           <i class="fab fa-instagram fa-lg mx-3 mx-md-4 fa-2x" style="color:black"> </i>
         </a>
         
       </div>
     </div> 
   </div>
   <div class="footer-copyright text-center py-0">© 2020 Copyright:
     <a href="https://Swasth.com/"> Swasth.com</a>
   </div>
   <!-- Copyright -->
 
 </footer>
 <!-- Footer -->

