
    <div>
        <p></p>
    <h2>Cancer</h2>
    <p>Cancer is a disease in which some of the body’s cells grow uncontrollably and spread to other parts of the body. 

        Cancer can start almost anywhere in the human body, which is made up of trillions of cells. Normally, human cells grow and multiply (through a process called cell division) to form new cells as the body needs them. When cells grow old or become damaged, they die, and new cells take their place.
        
        Sometimes this orderly process breaks down, and abnormal or damaged cells grow and multiply when they shouldn’t. These cells may form tumors, which are lumps of tissue. Tumors can be cancerous or not cancerous (benign).</p>
    <h2>Foods to Avoid if you have Cancer</h2>
    <ul>
        <li>Unpasteurized Dairy Products</li>
        <li>Raw Eggs</li>
        <li>Undercooked Meat</li>
        <li>Junk Food</li>
        <li>Foods with sharp or spicy flavors</li>
        <li>Food and drinks that are dehydrating</li>
    </ul>
    <h2>Prevention</h2>
        <ul style="list-style-type:square;">
            <li>Don't use tobacco</li>
            <li>Eat a healthy diet</li>
            <li>Maintain a healthy weight and be physically active</li>
            <li>Protect yourself from the sun</li>
            <li>Get regular medical care</li>
        </ul>
    
    </div>

