<ul class="nav nav-tabs mt-3 justify-content-center">
    <li class="nav-item">
        <a class="nav-link shop" routerLink="viewteethproducts" routerLinkActive="active">Shop your recommended products</a>
    </li>
    <li class="nav-item">
        <a class="nav-link shop" routerLink="getinfoonteeth" routerLinkActive="active">Get info about Teeth</a>
    </li>
</ul>

<div>
    <router-outlet></router-outlet>
</div>
<!-- <nav class="navbar navbar-expand-sm navbar-light mt-3 justify-content-center" style="padding:0">
<ul class="navbar-nav">
    <li class="nav-item active">
        <a class="nav-link shop" routerLink="viewteethproducts" routerLinkActive="active" #rla="routerLinkActive">
            <span *ngIf="rla.isActive" style="background-color: #f1f7e7;padding:8px">Shop your recommended products</span>
            <span *ngIf="!rla.isActive" style="padding:8px;color:black">Shop your recommended products</span>
        </a>
    </li>
    <li class="nav- ">
        <a class="nav-link shop" routerLink="getinfoonteeth" routerLinkActive="active" #rla1="routerLinkActive">
            <span *ngIf="rla1.isActive" style="background-color: #f1f7e7;padding:8px">Get info on Teeth</span>
            <span *ngIf="!rla1.isActive" style="padding:8px;color:black">Get info on Teeth</span>
            
        </a>
    </li> 
</ul>
</nav>

<div>
    <router-outlet></router-outlet>
</div> -->
