<div>
    <p></p>
    <h2>Teeth</h2>
    <p>Diabetes is a disease that occurs when your blood glucose, also called blood sugar, is too high.
        Over time, high blood glucose leads to problems such as heart disease, stroke, kidney disease, eye problems, dental disease, nerve damage, foot problems.</p>
    <h2>Foods to Avoid if you have Diabetes</h2>
    <ul>
        <li>Sugar-sweetened beverages</li>
        <li> White bread, rice, and pasta</li>
        <li>Fruit-flavored yogurt</li>
        <li>Sweetened breakfast cereals</li>
        <li>Flavored coffee drinks</li>
        <li>Honey, agave nectar, and maple syrup</li>
        <li>Dried fruit</li>
        <li>Fruit juice</li>
        <li>French fries</li>
    </ul>
    <h2>Things to do if you have Diabetes</h2>
    <h3>Eat Healthy Food</h3>
    <p>
        Eating right will help you:
       
        <ul> <li>Reach and stay at a weight that is good for you</li>
        <li>Keep your blood sugar in a good range</li> 
        <li>Prevent heart and blood vessel disease</li> </ul>
        
        <p>Ask your doctor for the name of a dietitian who can work with you on an eating plan for you and your family. Your dietitian can help you plan meals with foods that you and your family like and that are good for you.</p>
    <h3>Get Regular Exercise</h3>
    <p>Being active each day is good for everyone. Good ways to do it include:
        <ul style="list-style-type:square;">
            <li>Walking</li>
            <li>Swimming</li>
            <li>Dancing</li>
            <li>Biking</li>
            <li>Playing sports</li>
            <li>Cleaning your house or working in your garden count, too.</li>
            
        </ul>
    
    <p>Getting active is especially good for people with diabetes because:
    <ul style="list-style-type:circle;"><li> It helps keep your weight down.</li>
        <li>Your insulin may lower your blood sugar more easily.</li>
            <li>It helps your heart and lungs work better.</li>
                <li>Exercise gives you more energy.</li>
    </ul>
    
    <p>Before you start, talk with your doctor. If you have high blood pressure or eye problems, some exercises, like weightlifting, may not be safe. Your doctor or nurse will help you find safe exercises.Try to exercise at least three times a week for about 30 to 45 minutes each time. If you haven’t been active in a while, ease in. Start with 5 to 10 minutes, then work up from there.
    If you haven't eaten for more than an hour or if your blood sugar level is less than 100-120, have something like an apple or a glass of milk before you exercise.
When you’re being active, carry a snack with you in case your blood sugar drops. Make sure to carry an identification tag or card that says you have diabetes.
        
        </p>
    </div>
