
<ul class="nav nav-pills justify-content-evenly mt-3 pro">
    <li class="nav-item">
      <a class="nav-link" routerLink="general" routerLinkActive="active">General</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="diabetes" routerLinkActive="active">Diabetes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="cancer" routerLinkActive="active">Cancer</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="fever" routerLinkActive="active">Fever</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="cold" routerLinkActive="active">Cold/Flu</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="piles" routerLinkActive="active">Piles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="heart" routerLinkActive="active">Heart issues</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="thyroid" routerLinkActive="active">Thyroid</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="liver" routerLinkActive="active">Liver</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="teeth" routerLinkActive="active">Bad Teeth</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="diarrhea" routerLinkActive="active">Diarrhea</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="highbp" routerLinkActive="active">High BP</a>
    </li>
  </ul>
  <div class="container">
      <router-outlet></router-outlet>
  </div>