<div class="row" style="margin-top:160px">
    <div class="col-sm-2 col-md-3"></div>
    <div class="col-sm-8 col-md-6">
        <form (ngSubmit)="onSubmitNewProduct()">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="pt" placeholder="name@example.com" name="productTitle" [(ngModel)]="prodModel.type">
            <label for="pt">Category</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="pt" placeholder="name@example.com" name="productTitle" [(ngModel)]="prodModel.productTitle">
            <label for="pt">Product</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="pi" placeholder="Password" name="productImage" [(ngModel)]="prodModel.productImage">
            <label for="pi">Image Url</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="pd" placeholder="Password" name="description" [(ngModel)]="prodModel.description">
            <label for="pd">Description</label>
        </div>
        <button class="btn btn-warning float-end text-center" type="submit">Add</button>
    </form>
    </div>
    <div class="col-sm-2 col-md-3"></div>
</div>
