<div class="text-center p-3">
    <h2 class="welcome">Welcome Shopper!!!</h2>
    <h3 class="desc">One Stop Destination for all your healthy picks</h3>
</div>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000" style="height: 510px; margin-top: 5px;" >
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
    <div class="carousel-inner" >
      <div class="carousel-item active">
        <!-- <div class="d-flex justify-content-center"></div>
        <div class="embed-responsive embed-responsive-21by9 d-block w-100">
          <iframe class="embed-responsive-item" src="assets/swasth.mp4" allowfullscreen></iframe>
          <video  class="embed-responsive-item w-100" autoplay controls muted><source src="assets/SWASTH.mp4" type="video/mp4" ></video>
        </div> -->
        <img src="assets/SWASTH.png" class="d-block w-100 " style="height:510px" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/HEALTH.png" class="d-block w-100 " style="height:510px" alt="...">
        
      </div>
      <div class="carousel-item">
        <img src="assets/Medicine.png" class="d-block w-100 " style="height:510px" alt="...">
        
      </div>
      <div class="carousel-item">
        <img src="assets/good.png" class="d-block w-100" style="height:510px" alt="...">
      </div>
    </div>
  </div>
  